* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

html,
body {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

/* .container {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: teal;
}

.nav__list {
  display: flex;
  gap: 30px;
}

.nav__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}

.nav__link:hover {
  color: blue;
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
}

.social__list {
  display: flex;
  gap: 20px;
}

#about {
  display: flex;
  height: 90vh;
  width: 100%;
}

.about__img img {
  height: 100%;
  width: 50vw;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px;
}

#projects {
  padding: 30px 10px;
  background-color: aquamarine;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  width: 400px;
}

.card__image img {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.card__image {
  display: flex;
  position: relative;
}

.card__image:hover::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
